In [3]:
#PANDAS
  # Pandas is a Python library used for working with data sets.
import pandas 

mydataset = { 
'cars': ["BMW", "Volvo", "Ford"], 
'passings': [3, 7, 2] 
} 
myvar = pandas.DataFrame(mydataset) 
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
# Panda SERIES
  # A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

import pandas as pd     # alias: In Python alias are an alternate name for referring to the same thing. 
a = [1, 7, 2] 
data = pd.Series(a)
print(data)

0    1
1    7
2    2
dtype: int64

In [11]:
# LABELS
   # If nothing else is specified, the values are labeled with their index number.
data[0]
data[1]

a = [1, 7, 2] 
data = pd.Series(a, index = ["x", "y", "z"]) 
print(data)
data['y']

x    1
y    7
z    2
dtype: int64

7

In [13]:
# KEY/VALUE OBJECTS as Series 
      #You can also use a key/value object, like a dictionary, when creating a Series. 

# Create a simple Pandas Series from a dictionary 
calories = {"day1": 420, "day2": 380, "day3": 390} 
data = pd.Series(calories) 
print(data)

#To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.
calories = {"day1": 420, "day2": 380, "day3": 390} 
data = pd.Series(calories, index = ["day1", "day2"]) 
print(data)

day1    420
day2    380
day3    390
dtype: int64
day1    420
day2    380
dtype: int64

In [18]:
# DATAFRAMES
   # Data sets in Pandas are usually multi-dimensional tables, called DataFrames. ( Series is like a column, a DataFrame is the whole table. )

data = { 
"calories": [420, 380, 390], 
"duration": [50, 40, 45] 
} 
df = pd.DataFrame(data) 
print(df)

# locate ROWS - Pandas use the df.loc[] attribute to return one or more specified row(s)
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40
2       390        45
   calories  duration
0       420        50
1       380        40

In [20]:
#NAMED INDEXES
data = { 
"calories": [420, 380, 390], 
"duration": [50, 40, 45] 
} 
df=pd.DataFrame(data,index=['Day1','Day2','Day3'])
print(df)

      calories  duration
Day1       420        50
Day2       380        40
Day3       390        45

In [6]:
#CSV Files
import pandas as pd

df=pd.read_csv("C:/Users/DELL/Downloads/Students.csv")   
#If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows
print(df.to_string())
print('----------------------------------')

print(pd.options.display.max_rows) #Check the number of maximum returned rows

print('----------------------------------')

print(df.head())
print(df.tail())

print('----------------------------------')

#The DataFrames object has a method called info(), that gives you more information about the data set. 
print(df.info())

       Name Gender  Chemistry  Maths  Physics
0      John      M         56     55       45
1    Suresh      M         78     75       96
2    Ramesh      M         89     25       54
3   Jessica      F         86     78       96
4  Jennifer      F         78     58       96
5      Annu      F         52     45       87
6     pooja      F         61     55       64
7    Ritesh      M         87     54       76
8     Farha      F         89     55       63
9    Mukesh      M         77     96       46
----------------------------------
60
----------------------------------
       Name Gender  Chemistry  Maths  Physics
0      John      M         56     55       45
1    Suresh      M         78     75       96
2    Ramesh      M         89     25       54
3   Jessica      F         86     78       96
4  Jennifer      F         78     58       96
     Name Gender  Chemistry  Maths  Physics
5    Annu      F         52     45       87
6   pooja      F         61     55       64
7  Ritesh      M         87     54       76
8   Farha      F         89     55       63
9  Mukesh      M         77     96       46
----------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       10 non-null     object
 1   Gender     10 non-null     object
 2   Chemistry  10 non-null     int64
 3   Maths      10 non-null     int64
 4   Physics    10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None