In [ ]:
# PANDAS2

In [74]:
import pandas as pd

Pokemon=['Mew','Mewtwo','Articuno','Zapdos','Moltres']
dataset={"ID":[151,150,144,145,146],"Pokemon":Pokemon,"Type":['Psychic','Psychic','Ice','Electric','Fire']}
Pokedex=pd.DataFrame(dataset)
print(Pokedex)

    ID   Pokemon      Type
0  151       Mew   Psychic
1  150    Mewtwo   Psychic
2  144  Articuno       Ice
3  145    Zapdos  Electric
4  146   Moltres      Fire

In [75]:
# Adding Data using APPEND/CONCAT: Adding new rows to an existing DataFrame by creating a pandas Series object and appending it.

new_pokemon=pd.Series([250,"Ho-oh","Null"],index=['ID','Pokemon','Type'])      # Creating a new pandas Series object
Pokedex=pd.concat([Pokedex,new_pokemon.to_frame().T],ignore_index=True)      # Appending the new Series to the DataFrame
print(Pokedex)

    ID   Pokemon      Type
0  151       Mew   Psychic
1  150    Mewtwo   Psychic
2  144  Articuno       Ice
3  145    Zapdos  Electric
4  146   Moltres      Fire
5  250     Ho-oh      Null

In [76]:
print(Pokedex.shape)    # dimension of the dataframe 
print('-------------')
print(Pokedex.info)     # showing info about the data  
print('-------------')
Pokedex.corr            # correlation between columns

(6, 3)
-------------
<bound method DataFrame.info of     ID   Pokemon      Type
0  151       Mew   Psychic
1  150    Mewtwo   Psychic
2  144  Articuno       Ice
3  145    Zapdos  Electric
4  146   Moltres      Fire
5  250     Ho-oh      Null>
-------------

<bound method DataFrame.corr of     ID   Pokemon      Type
0  151       Mew   Psychic
1  150    Mewtwo   Psychic
2  144  Articuno       Ice
3  145    Zapdos  Electric
4  146   Moltres      Fire
5  250     Ho-oh      Null>

In [77]:
# Statistical Analysis of Data
Pokedex.describe()

#Dropping Column and Rows
Pokedex.drop(5,axis=0)   # drops row
Pokedex.drop('Type',axis=1) # drops column
Pokedex.dropna(axis=1)  # drops column with null values

    ID   Pokemon      Type
0  151       Mew   Psychic
1  150    Mewtwo   Psychic
2  144  Articuno       Ice
3  145    Zapdos  Electric
4  146   Moltres      Fire
5  250     Ho-oh      Null

In [80]:
# Various DataFrame Operations
print(Pokedex.head(2))
print('-------------')
print(Pokedex.dropna(inplace=True))
print('-------------')
print(Pokedex.fillna('?',inplace=True))
print('-------------')
print(Pokedex.sort_values(by='ID'))
print('-------------')
print(Pokedex)

    ID Pokemon     Type
0  151     Mew  Psychic
1  150  Mewtwo  Psychic
-------------
None
-------------
None
-------------
    ID   Pokemon      Type
2  144  Articuno       Ice
3  145    Zapdos  Electric
4  146   Moltres      Fire
1  150    Mewtwo   Psychic
0  151       Mew   Psychic
5  250     Ho-oh      Null
-------------
    ID   Pokemon      Type
0  151       Mew   Psychic
1  150    Mewtwo   Psychic
2  144  Articuno       Ice
3  145    Zapdos  Electric
4  146   Moltres      Fire
5  250     Ho-oh      Null

In [73]:
# Renaming columns
Pokedex.rename(columns={'ID': 'PokedexID', 'Pokemon': 'Name', 'Type': 'Category'}, inplace=True)
print(Pokedex)

  PokedexID      Name  Category PokedexID   Name Category
0       151       Mew   Psychic       NaN    NaN      NaN
1       150    Mewtwo   Psychic       NaN    NaN      NaN
2       144  Articuno       Ice       NaN    NaN      NaN
3       145    Zapdos  Electric       NaN    NaN      NaN
4       146   Moltres      Fire       NaN    NaN      NaN
5       250     Ho-oh      Null       NaN    NaN      NaN
6       250     Ho-oh      Null       NaN    NaN      NaN
7       NaN       NaN       NaN       250  Ho-oh     Null

In [83]:
# Selecting rows where 'PokedexID' is greater than 145
filtered_pokedex = Pokedex.loc[Pokedex['ID'] > 145]
print(filtered_pokedex)

print('-------------')

# Selecting specific rows and columns by labels
filtered_pokedex = Pokedex.loc[2:4, ['ID', 'Pokemon']]
print(filtered_pokedex)

print('-------------')

# Selecting the first three rows and first two columns
subset_pokedex = Pokedex.iloc[:3, :2]
print(subset_pokedex)

    ID  Pokemon     Type
0  151      Mew  Psychic
1  150   Mewtwo  Psychic
4  146  Moltres     Fire
5  250    Ho-oh     Null
-------------
    ID   Pokemon
2  144  Articuno
3  145    Zapdos
4  146   Moltres
-------------
    ID   Pokemon
0  151       Mew
1  150    Mewtwo
2  144  Articuno

In [ ]:
# Defining a custom function to classify types
def classify_type(type):
    if type in ['Psychic', 'Ice']:
        return 'Special'
    else:
        return 'Normal'

# Applying the function to the 'Category' column
Pokedex['Type_Class'] = Pokedex['Category'].apply(classify_type)
print(Pokedex)